*,
html,
body {
    font-family: sans-serif;
    color: #f7f7f7;
}

body {
    text-align: center;
    background: #10202f;
}

h1 {
    font-weight: lighter;
}

input,
button {
    width: 35%;
    padding: 10px;
    color: black;
    font-size: 10px;
    border-radius: 10px;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 50%;
    background: darkturquoise;
}